<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container text-white">
        <h2>About Us</h2>
            30DayWeather provides Free Long Range Weather Forecasts to the general public. You will have access to the same Long
            Range Weather Forecasts used by professionals.
        
        <h4>Long Range Weather Forecasts</h4>
        30DayWeather does not use historical averages. When most people think of a Long Range Forecast, they typically assume
        the forecast was derived from historical averages (climatology). While these historical forecasts can be interesting,
        many users justifiably question the accuracy. With “normal” weather increasingly becoming an “unknown”, 30DayWeather
        brings you an entirely different type of Long Range Weather Forecast.
        
        <h4>Short Range Forecasts</h4>
        30DayWeather does not provide Short Range Forecasts. There are plenty of excellent Short Range Weather providers, but
        Short Range Forecasts have their limitations. Short Range Forecasts depend on current conditions. The current conditions
        are then projected into the future. The further out you go, the more the accuracy depreciates. Additionally, as
        conditions change, so does the forecast. This makes planning with Short Range Forecasts ideal for the weather of today
        and tomorrow but frustrating beyond 48 hours.
        
        <h4>Different Than The Rest</h4>
        30DayWeather takes advantage of an entirely different method of weather forecasting. We use an advanced Long Range
        Weather Forecasting Methodology. The easiest way to think about our method is comparing it to Ocean Tidal Predictions.
        The ocean's tide levels and times can be confidently predicted by defining and then calculating specific forces that
        affect tidal levels. Our methodology uses the same principles, weather is just more complicated due to the amount of
        factors.
        
        Each individual day is calculated. The result is a forecast that does not change or degrade, in accuracy, over time.
        
        <h4>History of 30DayWeather</h4>
        Meteorology is a bit different than other sciences. For financial reasons, meteorologists tend to keep their methods to
        themselves. This is why professional, accurate Long Range Weather Forecasts are sold primarily to large agribusiness and
        energy firms. While they would be useful to the general public, the cost of developing the forecasts can be prohibitive.
        
        The meteorologists who developed 30DayWeather had successfully sold their proprietary forecasts to private industry for
        30 years. As the meteorologists who spent their entire lives developing this method aged, they wanted their method made
        available to the general public.
        
        By heavily investing in software development, they were able to produce the forecasts for over 4 million locations at a
        price that could be covered by advertising or minimal subscriptions.
        
        <h4>The Founding Meteorologists</h4>
        Paul Ruch Sr and his son, Paul Ruch II, spent over 50 years researching, developing, and validating this methodology.
        Paul Ruch Sr had worked with the leaders in his field as the head of the Meteorology Department at the California
        Institute of Technology (CALTECH). Paul Ruch II was a weather officer in the United States Air Force.
        
        Just like all scientists and inventors who break out of standard procedure, the father and son team worked day and night
        until they had developed the most accurate Long Range Forecast available.
        
        Since 1964, this methodology has been fine tuned and improved upon. While this method is not 100% perfect, it is truly
        the best method available when determining the weather more than a few days out. Per the Ruch family, 30DayWeather now
        will always be available, and hopefully useful, to the general public.
        </div>
        
</body>
</html>







