


    <!-- footer section start -->
    <div class="container-fluid footer mt-3">
        <div class="row">
          <div class="credit text-white col-lg-6"> copyright @ 2022 by <span class="text-white">Sujata Deshmukh</span>
          </div> 

            <div class="col-lg-4">
                <a routerLink="">Dashboard</a>
                <a routerLink="app-about">About</a>
                <a routerLink="app-help">Help</a>
            </div>  
     <div class="col-lg-2">
        <a href="#" target="_blank"><i class="bi bi-facebook btn btn-primary"></i></a>
        <a href="#" target="_blank"><i class="bi bi-whatsapp btn btn-success"></i></a>
        <a href="#" target="_blank"><i class="bi bi-instagram btn btn-info"></i></a>
        <a href="#" target="_blank"><i class="bi bi-youtube btn btn-danger"></i></a>
    </div>   
</div> 
</div>
    

<!-- footer section ends -->

    